doctype html
html
  head
    title RVS DANCE ACADEMY
    block scripts
    block style
  body
    section#title
      span
         img(src="./static/card1.jpg", id="logo")
      span#name RVS DANCE ACADEMY
    nav#navbar 
        ul
            li #[a(href="/home") HOME ]
            li #[a(href="/") ABOUT ]
            li #[a(href="/") SERVICES ]
            li #[a(href="/contact") CONTACT US ]

    block content
    footer#footer 
         div.foot CONTACT INFO 
         div.foot TEL: 8525862214
         div.foot EMAIL: vaishnavi.2024it1009@kiet.edu