extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content
    
      section#intro 
         div WELCOME TO RVS DANCE ACADEMY
      
      section#mission
         div.card#card1
            p LEARN TO DANCE FROM TOP INSTRUCTOR  

         div.card#card2
                  
         div.card#card3
            p CANCEL ANYTIME                 

      section#style
         div LEARN A VARIETY OF DANCE STYLES

      section#forms 
          
         
      