doctype html
html
  head
    title DANCE WEBSITE
    style
      include ../static/style.css
  body
      section#title 
         div RVS DANCE ACADEMY
      nav#navbar 
        ul
            li #[a(href="/") HOME ]
            li #[a(href="/about") ABOUT ]
            li #[a(href="/") SERVICES ]
            li #[a(href="/") CONTACT US ]

      section#intro 
         div WELCOME TO RVS DANCE ACADEMY
      
      section#mission
         div.card#card1
            p LEARN TO DANCE FROM TOP INSTRUCTOR  

         div.card#card2
                  
         div.card#card3
            p CANCEL ANYTIME                 

      section#style
         div LEARN A VARIETY OF DANCE STYLES

      section#forms 
          
         
      footer#footer 
         div CONTACT INFO 
         div TEL: 8525862214
         div EMAIL: vaishnavi.2024it1009@kiet.edu