doctype html

html
  head
    style
      include ../static/style.css
  body
    section#title 
       div RVS ACADEMY
    nav#navbar 
       ul 
           li HOME 
           li ABOUT 
           li SERVICES
           li CONTACT US     
    block content
    footer#foot 
        div CONTACT INFO 
        div CONTACT NUMBER : 9234567891
        div EMAIL : nsjdbsndkj@google.com
    
    script
      include ../static/script.js